@import "@/styles/variables.module.scss";

.Wrapper {
  position: relative;
  padding: 90px 24px 0;
  background-color: $orientBlue;
}

.PaymentPlans {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;

  h2 {
    margin-bottom: 12px;
    color: $orientBlue;
  }

  p {
    color: $orientBlue;
    margin-bottom: 0;
  }
}

.Content {
  max-width: 900px;
  margin: 0 auto;
  z-index: 5;
  position: relative;

  section {
    margin-bottom: 40px;
    background-color: $prussianBlue;
    padding: 24px;
    position: relative;

    div.TicketTier {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      text-align: center;
      margin-bottom: 24px;

      h2 {
        color: $mandyPink;
      }
    }
  }
}

.PageTitle {
  margin-bottom: 12px;
  text-align: center;
}

.CampLotTitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.9rem;
  color: $burntSienna;
}

.SectionInfo {
  margin-bottom: 50px;
  text-align: center;
}

.TicketDate {
  color: $burntSienna;
  text-align: center;
  font-size: 3rem;
}

.TierWrapper {
  @media screen and (min-width: 500px) {
    display: flex;
    justify-content: space-around;

    .Price {
      margin-bottom: 10px;
    }
  }
}

.SectionHeading {
  font-size: 2rem;
  color: $mandyPink;
  margin-bottom: 24px;
  text-align: center;

  [class*="Typography_Text"] {
    text-align: left;
  }
}

.Option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px dotted $wickedWhite;

  [class*="Typography_Text"] {
    text-align: left;
  }
}

.Zones {
  margin-top: 48px;

  div {
    margin-bottom: 24px;
  }
}

.Price {
  font-size: 2.2rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;

  .PriceSoldOut {
    margin-bottom: 0;
  }
}

.Vehicle {
  position: absolute;
  width: 150px;
  height: 150px;

  @media screen and (min-width: 900px) {
    width: 250px;
    height: 250px;
  }

  @media screen and (min-width: 1280px) {
    width: 300px;
    height: 300px;
  }
}

.Car {
  top: -90px;
  left: 0;

  @media screen and (min-width: 900px) {
    top: -120px;
  }

  @media screen and (min-width: 1280px) {
    top: -150px;
  }
}

.RV {
  top: -90px;
  right: 0;

  @media screen and (min-width: 900px) {
    top: -130px;
  }

  @media screen and (min-width: 1280px) {
    top: -160px;
  }
}

.Buss {
  bottom: -80px;
  right: 0;

  @media screen and (min-width: 900px) {
    bottom: -110px;
  }

  @media screen and (min-width: 1280px) {
    bottom: -140px;
  }
}

.Tent {
  top: -100px;
  left: 0;

  @media screen and (min-width: 900px) {
    top: -150px;
  }

  @media screen and (min-width: 1280px) {
    top: -150px;
    width: 250px;
    height: 250px;
  }
}

.SunnE {
  position: absolute;
  top: -350px;
  left: 65%;
  z-index: -1;

  @media screen and (min-width: 430px) {
    display: block;
    top: -350px;
    left: 50%;
    width: 400px;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    top: -350px;
    left: 55%;
    width: 450px;
    height: 450px;
  }
  @media screen and (min-width: 1024px) {
    top: -370px;
    left: 57%;
    width: 500px;
    height: 500px;
  }

  @media screen and (min-width: 1280px) {
    top: -550px;
    left: 58%;
    width: 800px;
    height: 800px;
  }
}

.TicketButtonWrapper {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 900px) {
  .Content {
    section {
      padding: 42px;
      margin-bottom: 50px;
    }
  }

  .SectionInfo {
    margin-bottom: 50px;
  }

  .CampLot {
    margin-bottom: 100px;
  }

  .SectionHeading {
    font-size: 3rem;
    color: $mandyPink;
    margin-bottom: 30px;
  }

  .Option {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px dotted $wickedWhite;

    span {
      h2 {
        margin-bottom: 12px;
      }
    }
  }

  .Price {
    margin-top: 0px;
    font-size: 2.4rem;
  }

  .PageTitle {
    margin-bottom: 12px;
    text-align: center;
  }

  .TicketsWrapper {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}
