@import "@/styles/variables.module.scss";

.Wrapper {
  position: relative;
  padding: 90px 24px;
  background-color: $orientBlue;
  // -webkit-mask-image: url("/assets/backgrounds/papergrit.png");
  // mask-image: url("/assets/backgrounds/papergrit.png");

  h1 {
    text-align: center;
  }
}

.Content {
  max-width: 900px;
  margin: 0 auto;
  z-index: 5;
  position: relative;

  [class*="Typography_Jumbo"] {
    margin: 0;
  }

  h1 {
    margin-bottom: 32px;
  }

  section {
    margin-bottom: 50px;
    background-color: $prussianBlue;
    padding: 24px;
    text-align: center;

    [class*="Typography_Text"] {
      padding: 0 12px 0;
    }

    div {
      margin-bottom: 24px;

      @media screen and (min-width: 900px) {
        margin-bottom: 24px;
      }

      h2 {
        margin-bottom: 4px;
      }
    }

    div.TicketTier {
      margin-bottom: 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  .CampLot {
    font-size: 2rem;
    color: $mandyPink;
    margin-bottom: 18px;

    [class*="Typography_Text"] {
      text-align: left;
    }
  }
}

.Option {
  display: flex;
  flex-basis: 70%;

  [class*="Typography_Text"] {
    text-align: left;
  }
}

.Glamping {
  color: $greenHaze;
  margin-bottom: 16px;
}

.FirstServe {
  color: $sandyBrown;
  margin-bottom: 16px;
}

.Reserved {
  color: $burntSienna;
  margin-bottom: 16px;
}

.ReadySet {
  color: $curiousBlue;
  margin-bottom: 16px;
}

.Price {
  font-size: 2.2rem;
}

@media screen and (min-width: 900px) {
  .Content {
    section {
      padding: 42px;
    }
  }

  .CampLot {
    font-size: 2.5rem;
    color: $mandyPink;
  }

  .CampGrid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  .Price {
    margin-top: 10px;
    font-size: 2.4rem;
  }

  .Option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    [class*="Typography_Text"] {
      text-align: left;
    }
  }
}
