@import "../../styles/variables.module.scss";

.Container {
  padding: 100 0 0;
  min-height: 100vh;
  width: 100%;
  background-image: url(../../assets/backgrounds/wicked_black.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.Hero {
  width: 100vw;
  height: 400px;
  position: relative;
}

.Description,
.Contact {
  padding: 70px 24px;
  background-image: url(../../assets/backgrounds/orient_blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: $wickedWhite;
}

.Contact {
  background-image: url(../../assets/backgrounds/green_haze.png);
  color: $wickedWhite;
  text-align: center;

  margin: 0 auto;

  h2 {
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    span {
      display: block;
      font-weight: 400;
      margin-bottom: 8px;
    }
  }

  li {
    margin-top: 10px;
    margin-bottom: 24px;
  }

  a {
    position: relative;
    text-decoration: none;
    outline: none;
  }

  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $wickedWhite;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  a:hover::before,
  a:focus::before {
    transform: scaleX(1);
  }
}

.DirectoryName {
  font-size: 24px;
}

.Value {
  text-align: center;
  max-width: 900px;
  margin: 40px auto 40px;
  color: $wickedWhite;
}

.Text {
  color: $wickedWhite;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.Gallery {
  margin: 20px 20px 0;
  padding-bottom: 20px;
}

.Bear {
  min-height: 100vw;
  width: 100vw;
  position: relative;
}

@media screen and (min-width: 500px) {
  .Hero {
    height: 600px;
  }
}
