@import "../../styles/variables.module.scss";

.Container {
  padding: 100 0 0;
  min-height: 100vh;
  width: 100%;
  background-image: url(../../assets/backgrounds/wicked_black.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.Hero {
  width: 100vw;
  height: 400px;
  position: relative;
}

.Description,
.Contact {
  padding: 70px 24px;
  background-image: url(../../assets/backgrounds/orient_blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: $wickedWhite;
}

.Contact {
  background-image: url(../../assets/backgrounds/green_haze.png);
  color: $wickedWhite;
  text-align: center;

  margin: 0 auto;

  h2 {
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  li {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 1rem;
  }
}

.Value {
  text-align: center;
  max-width: 900px;
  margin: 40px auto 40px;
  color: $wickedWhite;
}

.Text {
  color: $wickedWhite;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.Gallery {
  margin: 20px 20px 0;
  padding-bottom: 20px;
}

.Bear {
  min-height: 100vw;
  width: 100vw;
  position: relative;
}

@media screen and (min-width: 500px) {
  .Hero {
    height: 600px;
  }
}

@media screen and (min-width: 900px) {
  .Contact {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    ul {
      text-align: left;
      margin: 0;
    }
  }
}
