@import "../../styles/variables.module.scss";

.Container {
  padding: 100 0 0;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.Hero {
  width: 100vw;
  height: 400px;
  position: relative;
}

.Description {
  position: relative;
}

.VideoWrapper {
  background-color: $wickedBlack;
  margin: 0 auto;
  padding: 24px 0;
}

.TextWrapper {
  z-index: 80;
}

.Description,
.Contact {
  padding: 70px 24px;

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: $wickedWhite;
}

.EagleContainer {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: -14%;
}

.Contact {
  color: $wickedWhite;
  text-align: center;

  margin: 0 auto;

  h2 {
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  li {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 1rem;
  }
}

.Value {
  text-align: center;
  max-width: 900px;
  margin: 40px auto 40px;
  color: $wickedWhite;
}

.Gallery {
  position: relative;
  padding: 20px;
}

.Bear {
  min-height: 100vw;
  width: 100vw;
  position: relative;
}

@media screen and (min-width: 500px) {
  .Hero {
    height: 600px;
  }
}

@media screen and (min-width: 900px) {
  .Contact {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    ul {
      text-align: left;
      margin: 0;
    }
  }

  .EagleContainer {
    top: -25%;
  }
}

@media screen and (min-width: 1200px) {
  .EagleContainer {
    top: 0;
    right: 0%;
    width: 400px;
    height: 400px;
  }
}
