@import "@/styles/variables.module.scss";

.TicketButton {
  padding: 20px;
  font-size: 18px;
  border: 0;

  text-transform: uppercase;
  color: $wickedWhite;

  img {
    width: 300px;
    height: auto;
  }

  a:hover,
  a:focus {
    color: $wickedBlack;
  }
}
