@import "@/styles/variables.module.scss";

.TicketButton {
  padding: 20px;
  font-size: 18px;
  border: 0;
  transition: transform 2s ease-in-out;

  :hover,
  :focus {
    transform: scale(1.05);
    transition: transform 50ms ease-in-out;
  }

  text-transform: uppercase;
  color: $wickedWhite;

  img {
    width: 300px;
    height: auto;
  }

  a:hover,
  a:focus {
    color: $wickedBlack;
  }
}
