@import "@/styles/variables.module.scss";

.Button {
  padding: 10px;
  background-color: $wickedWhite;
  color: $wickedBlack;
  border-radius: 12px;
  font-family: var(--chunky-heart);
  font-size: 24px;
  border: none;
  outline-color: $mandyPink;
  border: 1px transparent;
  -webkit-mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
  mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
}

.Link {
  outline-color: $mandyPink;

  :hover {
    border: 1px $mandyPink;
    cursor: pointer;
  }
}
