@import "@/styles/variables.module.scss";

.Main {
  align-items: center;
  min-height: 100vh;
  height: 100vw;
}

.WordmarkWrapper {
  margin: 0 auto;
  height: 150px;
  position: relative;
}

.DatestampWrapper {
  margin: 0 auto;
  height: 70px;
  max-width: 300px;
  position: relative;
}

.ArtContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.Sky {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
}

.Sun {
  position: relative;
  height: 100%;
  width: 100%;
}

.Overlay {
  position: absolute;
  font-size: 3rem;
  color: #f0f0f0;
  text-align: center;
  width: 100%;
  margin-top: 15%;
  letter-spacing: 1.75px;
}

.TicketInfo {
  font-size: 30px;
}

.CloudsContainer {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
}

.Cloud1,
.Cloud2,
.Cloud3,
.Cloud4,
.Cloud5,
.CloudTop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-fill-mode: forwards;
  top: 0;
}

.TicketButtonWrap {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.CloudTop {
  animation: slideOff 50s;
  top: -450px;
  top: -230px;
  background-size: contain;
  transform: scaleX(-1);
}

.Cloud1 {
  animation: slide 30s;
  background-size: contain;
}

.Cloud4 {
  animation: slide 30s;
  background-size: contain;
}

.Foreground {
  position: relative;
  height: 100%;
  width: 100%;
}

.FrontMountains,
.Valley,
.Hills,
.Grasses,
.Mountains {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes slide {
  0% {
    left: -50%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slideOff {
  0% {
    left: -90%;
  }
  100% {
    left: -10%;
  }
}

@media screen and (min-width: 500px) {
  .DatestampWrapper {
    margin: 0 auto;
    height: 120px;
    max-width: 400px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .DatestampWrapper {
    margin: 0 auto;
    height: 150px;
    max-width: 500px;
    position: relative;
  }

  .CloudTop {
    top: -700px;
  }

  .WordmarkWrapper {
    height: 200px;
  }
}
