@import "@/styles/variables.module.scss";

.Wrapper {
  position: relative;
  padding: 90px 24px;
  background-color: $orientBlue;
  -webkit-mask-image: url("/assets/backgrounds/papergrit.png");
  mask-image: url("/assets/backgrounds/papergrit.png");
}

.Content {
  max-width: 900px;
  margin: 0 auto;
  z-index: 5;
  position: relative;

  h1 {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 14px;
  }
}

.HeaderWrapper {
  text-align: center;
}
