@import "@/styles/variables.module.scss";

.Wrapper {
  position: relative;
  padding: 30px 24px;
  background-color: $prussianBlue;

  a {
    text-decoration: underline;
  }
}

.Logo {
  width: 150px;
  height: 150px;
}

.Content {
  background-color: $prussianBlue;
  border-radius: 6px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  z-index: 5;
  position: relative;

  h1 {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 14px;
  }
}

.HeaderWrapper {
  text-align: center;
  padding: 20px;

  margin: 0 auto;
}

.Ack {
  text-align: center;
  margin: 48px 0;
}
