@import "@/styles/variables.module.scss";

.NavWrapper {
  position: absolute;
  top: 0;
}

.TicketLink {
  transition: all 100ms ease-in-out;

  h1 {
    color: $wickedBlack;
  }

  :hover {
    transform: scale(1.02);
  }
}

.TicketButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainNavLogo {
  padding: 0 20px;
  margin-top: 5px;
  height: 100%;
  display: inline-block;
}

.Nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  z-index: 98;
  background-color: $wickedBlack;

  &Open {
    height: 100%;
    display: block;
    background-color: $wickedBlack;
  }
}

.NavItems {
  height: 100%;
  background-position: center top;
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  background-position: center;

  h1 {
    font-size: 28px;
    margin-bottom: 0;
    text-align: center;
  }
}

.list {
  list-style-type: none;
  display: grid;
  position: relative;
  gap: 28px;
  margin: 24px;
  padding-top: 24px;
  text-align: center;
}

.items {
  margin-right: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
  text-shadow: black 1px 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  position: absolute;
  right: 10px;
  top: 7px;
  color: #000;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.HomeSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .list {
    background-position: right;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 auto;
    margin: 50px;
    max-width: 400px;
    align-self: flex-end;
  }

  .NavItems {
    height: 100vh;

    h1 {
      font-size: 60px;
    }
  }

  .items:nth-child(1) {
    margin-top: 90px;
  }
  .items {
    width: 100%;
    text-align: center;
    margin-right: 0px;
    padding: 0;
    margin: 16px 0;
  }
  .btn {
    display: block;
  }
}

@media screen and (min-width: 820px) {
  .list {
    grid-template-columns: repeat(4, auto);
    max-width: 1100px;
    gap: 90px;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 24px;
  }
}
