$prussian-blue: #013650;
$orient-blue: #005f77;
$curious-blue: #3da5db;
$green-haze: #71a396;
$sandy-brown: #f0a658;
$burnt-sienna: #e96542;
$mandy-pink: #de4b5d;
$wickedWhite: #f8f4ec;
$wickedBlack: #141313;

:export {
  prussianBlue: $prussian-blue;
  orientBlue: $orient-blue;
  curiusBlue: $curious-blue;
  greenhaze: $green-haze;
  sandyBrown: $sandy-brown;
  burntSienna: $burnt-sienna;
  mandyPink: $mandy-pink;
  wickedWhite: $wickedWhite;
  wickedBlack: $wickedBlack;
}
