$prussianBlue: #013650;
$orientBlue: #005f77;
$curiousBlue: #3da5db;
$greenHaze: #019a72;
$sandyBrown: #f0a658;
$burntSienna: #e96542;
$mandyPink: #de4b5d;

$wickedWhite: #f8f4ec;
$wickedBlack: #141313;

$stratosBlue: #00034d;
$gigasPurple: #453cab;

$guardsmenRed: #ba0000;

:export {
  prussianBlue: $prussianBlue;
  orientBlue: $orientBlue;
  curiousBlue: $curiousBlue;
  greenHaze: $greenHaze;
  sandyBrown: $sandyBrown;
  burntSienna: $burntSienna;
  mandyPink: $mandyPink;
  wickedWhite: $wickedWhite;
  wickedBlack: $wickedBlack;
}
