@import "../../styles/variables.module.scss";

.Container {
  width: 100%;
  position: relative;
}

.Contact {
  padding: 100px 24px;
  display: flex;
  flex-direction: column;
  color: $wickedWhite;
  background-color: $greenHaze;
}

.Contact {
  color: $wickedWhite;
  text-align: center;

  margin: 0 auto;

  h2 {
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  li {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .Contact {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    ul {
      text-align: left;
      margin: 0;
    }
  }
}
