@import "@/styles/variables.module.scss";

.Four {
  display: block;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: $wickedWhite;
  transition: 1.5s;
}

.Text {
  color: $wickedWhite;
  font-size: 1.2rem;
  transition: 1.5s color;
  margin-bottom: 12px;
}

.Bold {
  display: inline;
  font-size: 1.2rem;
  transition: 1.5s color;
}

.Jumbo {
  font-size: 3rem;
  color: $wickedWhite;
  letter-spacing: 2.5px;
  transition: 1.5s color;
  filter: drop-shadow(1px 1px 1px $wickedBlack);
}

.H1 {
  font-size: 1.5rem;
  color: $wickedWhite;
  transition: 1.5s color;
}

.H2 {
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: $wickedWhite;
  font-weight: 400;
  transition: 1.5s color;
}

.H3 {
  font-size: 1rem;
  color: $wickedWhite;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 12px;
  transition: 1.5s color;
}

.Dark {
  color: $wickedBlack;
  transition: 1.5s color;
}

.OList,
.UList,
.ListItem {
  color: $wickedWhite;
  font-weight: 100;
  font-size: 1.2rem;
  transition: 1.5s color;
}

.OList {
  margin-bottom: 36px;
}

.OList {
  margin-left: 16px;

  .OList {
    margin-bottom: 0;
    margin-left: 24px;
  }
}

.ListItem {
  margin-bottom: 8px;
}

@media screen and (min-width: 800px) {
  .OList {
    margin-left: 40px;
    .OList {
      margin-left: 40px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .Jumbo {
    font-size: 5rem;
    letter-spacing: 2px;
  }

  .Four {
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: $wickedWhite;
  }

  .Text {
    font-size: 1.3rem;
  }
}
