@import "@/styles/variables.module.scss";

.Jumbo {
  font-size: 33px;
  line-height: 36px;
  color: $wickedWhite;
  letter-spacing: 2.5px;
  transition: 1.5s color;
}

.H1 {
  font-size: 33px;
  line-height: 36px;
  color: $wickedWhite;
  transition: 1.5s color;
}

.H2 {
  font-size: 27px;
  line-height: 30px;
  color: $wickedWhite;
  font-weight: 400;
  transition: 1.5s color;
}

.H3 {
  font-size: 27px;
  line-height: 30px;
  color: $wickedWhite;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 12px;
  transition: 1.5s color;
  font-weight: bold;
}

.H4 {
  font-size: 24px;
  line-height: 27px;
  display: block;
  font-weight: 400;
  margin-bottom: 8px;
  color: $wickedWhite;
  transition: 1.5s;
}

.Text {
  color: $wickedWhite;
  font-size: 18px;
  transition: 1.5s color;
  margin-bottom: 20px;
}

.Bold {
  display: inline;
  font-weight: bold;
  transition: 1.5s color;
}

.Dark {
  color: $wickedBlack;
  transition: 1.5s color;
}

.OList,
.UList,
.ListItem {
  color: $wickedWhite;
  font-weight: 100;
  font-size: 18px;
  transition: 1.5s color;
}

.OList {
  margin-bottom: 36px;
}

.OList {
  margin-left: 16px;

  .OList {
    margin-bottom: 0;
    margin-left: 24px;
  }
}

.ListItem {
  margin-bottom: 8px;
}

@media screen and (min-width: 800px) {
  .OList {
    margin-left: 40px;
    .OList {
      margin-left: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .Jumbo {
    font-size: 52px;
    line-height: 53px;
  }

  .H1 {
    font-size: 47px;
    line-height: 50px;
  }

  .H2 {
    font-size: 39px;
    line-height: 42px;
  }

  .H3 {
    font-size: 33px;
    line-height: 37px;
  }

  .H4 {
    font-size: 27px;
    line-height: 30px;
  }

  .Text,
  .OList,
  .UList,
  .ListItem {
    font-size: 24px;
    line-height: 28px;
  }
}
