@import "@/styles/variables.module.scss";

.Four {
  display: block;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: $wickedWhite;
}

.Text {
  color: $wickedWhite;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 1.2rem;
}

.Jumbo {
  font-size: 3rem;
  color: $wickedWhite;
  margin-bottom: 24px;
}

.H1 {
  font-size: 1.5rem;
  color: $wickedWhite;
  margin-bottom: 24px;
}

.H2 {
  font-size: 1.3rem;
  color: $wickedWhite;
  font-weight: 400;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .Jumbo {
    font-size: 5rem;
    letter-spacing: 2px;
  }

  .Four {
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: $wickedWhite;
  }
}
