@import "@/styles/variables.module.scss";

.Wrapper {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 90px 24px 0;
  background-color: $greenHaze;
  min-height: 80vh;
  position: relative;
}

.Content {
  z-index: 10;
}

.TreesWrapper {
  z-index: 1;
}

.Articles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.CoverImage {
  margin-bottom: 12px;
}

@media screen and (min-width: 900px) {
  .Articles {
    grid-template-columns: repeat(3, 1fr);
  }
}
