@import "../../styles/variables.module.scss";

.Container {
  padding: 100 0 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.Hero {
  width: 100vw;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.DateStamp {
  object-fit: contain;
  z-index: 20;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 80px;
}

.Wordmark {
  object-fit: contain;
  z-index: 20;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
  margin: 0 auto;
  top: 30%;
}

.Button {
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5%;
  margin: 0 auto;
  width: 100%;
  z-index: 99;
}

.Description {
  position: relative;
}

.DescriptionText {
  margin-bottom: 12px;
  font-size: 16px;
}

.DescriptionWrapper {
  display: flex;
  flex-direction: column;
  background-color: $wickedBlack;
}

.VideoWrapper {
  background-color: $wickedBlack;
  margin: 0 auto;
  width: 100vw;
}

.TextWrapper {
  z-index: 80;
}

.Description {
  background-color: $wickedBlack;
  padding: 70px 24px;
  display: flex;
  flex-direction: column;
  color: $wickedWhite;
}

.Value {
  text-align: center;
  max-width: 900px;
  margin: 40px auto 40px;
  color: $wickedWhite;
}

.Gallery {
  position: relative;
  padding: 20px;
  background-color: $wickedBlack;
}

@media screen and (min-width: 500px) {
  .Hero {
    height: 600px;
  }
}

@media screen and (min-width: 900px) {
  .VideoWrapper {
    padding: 100px 24px;
  }

  .DescriptionWrapper {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .TextWrapper {
    max-width: 1400px;
    margin-left: 100px;
  }

  .DescriptionText {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 900px;
  }
}
