@import "@/styles/variables.module.scss";

.List {
  list-style: none;
  margin-bottom: 32px;
}

.NavHeading {
  color: $sandyBrown;
}

@media screen and (min-width: 500px) {
  .Column {
    text-align: left;
  }
}
