@import "@/styles/variables.module.scss";

.List {
  list-style: none;
}

.NavHeading {
  color: $sandyBrown;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 22px;
}

.Link {
  font-size: 16px;
  line-height: 18px;

  margin-bottom: 8px;
}

@media screen and (min-width: 500px) {
  .Column {
    text-align: left;
  }
}
