.NavWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;

  ::after {
    content: "";
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background: url(../../assets/sunsetScene/PAPER_fun_ASSETS_8_back-min.png);
  }
}

.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.items {
  margin-right: 20px;
  font-size: 24px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
  text-shadow: black 1px 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  .Nav {
    // height: 100%;
  }

  .NavWrapper {
    ::after {
      content: "";
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background: none;
    }
  }

  .list {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
  }
  .items:nth-child(1) {
    margin-top: 90px;
  }
  .items {
    width: 100%;
    text-align: center;
    margin-right: 0px;
    padding: 0;
    margin: 16px 0;
  }
  .btn {
    display: block;
  }
}
