@import "@/styles/variables.module.scss";

.Wrapper {
  padding: 0 0 90px;
  background-color: $greenHaze;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
}

.Holiday {
  color: $guardsmenRed;
}

.Content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  h1 {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 900px) {
    padding: 40px;
    flex-direction: row;
    gap: 75px;

    max-width: 1200px;
    margin: 0 auto;

    p {
      text-align: left;
    }
  }
}

.Flier {
  height: 100%;
  width: 100%;
}

.Desc {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.TermsWrapper {
  max-width: 600px;
  text-align: left;
  margin-top: 24px;
  margin: 24px auto;

  h1 {
    margin-bottom: 24px;
  }

  ul {
    margin-left: 28px;
  }
}

.Terms {
  margin-bottom: 31px;
}

.Form {
  background-color: $orientBlue;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 24px;
  text-align: left;

  filter: drop-shadow(1px 1px 1px $wickedBlack);
}

.Field {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  font-size: 16px;

  label {
    padding-bottom: 4px;
    color: $greenHaze;
  }

  input {
    height: 40px;
    font-size: 20px;
    padding: 2px;
    outline-color: $greenHaze;
  }

  strong {
    color: $wickedWhite;
  }

  ul {
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
    }
  }
}

.Categories {
  margin-top: 16px;
}

.Button {
  margin-top: 24px;
  padding: 12px 12px 10px;
  background-color: $guardsmenRed;
  border: 0;
  color: $wickedWhite;
  font-size: 24px;
  width: 100%;
  border-radius: 6px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 2ms;
  outline-color: $guardsmenRed;
  filter: drop-shadow(1px 1px 1px $wickedBlack);

  :hover,
  :focus {
    cursor: pointer;
    background-color: $guardsmenRed;
  }
}

.ButtonWrapper {
  display: flex;

  :hover,
  :focus {
    cursor: pointer;
  }
}
