@import "@/styles/variables.module.scss";

.Wrapper {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 90px 24px 0;
  overflow: hidden;
}

.BeavsWrapper {
  position: absolute;
  bottom: 0;
  max-width: 600px;
}

.Heading {
  color: $wickedWhite;
}

.ButtonWrapper {
  margin-top: 36px;
}

.LogoWrapper {
  margin-bottom: 24px;
}

.Content {
  z-index: 20;
}
