@import "@/styles/variables.module.scss";

.Wrapper {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 90px 24px 0;
  background-color: $greenHaze;
  min-height: 100vh;
  position: relative;
}

.BeavsWrapper {
  position: absolute;
  bottom: 0;
  max-width: 600px;
  z-index: 5;
  bottom: -50px;
}

.TreeWrapper {
  opacity: 0.5;
}

.Heading {
  color: $wickedWhite;
}

.ButtonWrapper {
  margin-top: 36px;
}

.LogoWrapper {
  margin-bottom: 24px;
}

.Content {
  z-index: 20;
}

@media screen and (min-width: 1200px) {
  .TreeWrapper {
    display: block;
    opacity: 1;
  }
}
