@import "@/styles/variables.module.scss";

.Wrapper {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 24px 0;
  background-color: $greenHaze;
}

.BeavsWrapper {
  position: absolute;
  bottom: 0;
  max-width: 600px;
}

.Heading {
  color: $wickedWhite;
}

.ButtonWrapper {
  margin-top: 36px;
}

.Content {
  z-index: 20;
}

@media screen and (min-width: 500px) {
  .Wrapper {
    padding-top: 190px;
  }
}
