@import "@/styles/variables.module.scss";

.TreeWrapper {
  opacity: 0.5;
}

.SmallHiddenTree {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .TreeWrapper {
    opacity: 1;
  }

  .SmallHiddenTree {
    opacity: 1;
  }
}
