@import "@/styles/variables.module.scss";

.FooterWrapper {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Footer {
  color: $wickedWhite;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.Content {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  height: 500px;

  @media screen and (min-width: 900px) {
    max-width: 550px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 150px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
    padding-top: 200px;
    max-width: 1200px;
    gap: 40px;
  }
}

.Column {
  text-align: center;
}

.List {
  list-style: none;
  align-self: flex-start;
  margin-bottom: 32px;
}
