@import "@/styles/variables.module.scss";

.Footer {
  color: $wickedWhite;
  padding: 20px;
  position: relative;
  background-color: $wickedBlack;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.Content {
  position: relative;
  z-index: 20;
  max-width: 400px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @media screen and (min-width: 900px) {
    max-width: 550px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
    max-width: 850px;
    gap: 40px;
  }
}

.Column {
  text-align: center;
}

.List {
  list-style: none;
  align-self: flex-start;
  margin-bottom: 32px;
}

@media screen and (min-width: 500px) {
  .Column {
    margin: 0 auto;
    text-align: left;
  }

  .Footer {
    height: 400px;
  }
}
