@import "@/styles/variables.module.scss";

.Wrapper {
  position: relative;
  padding: 90px 24px;
  background-color: $wickedBlack;
}

.Content {
  max-width: 900px;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  background-color: $wickedBlack;
  padding: 24px;

  h1 {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 14px;
  }
}

.HeaderWrapper {
  text-align: center;
  margin-bottom: 24px;
}
