@import "@/styles/variables.module.scss";

.Wrapper {
  position: relative;
  padding: 90px 24px;
  background-color: $orientBlue;
  -webkit-mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
  mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
}

.Content {
  max-width: 900px;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}

.SearchInput {
  font-size: 30px;
  height: 50px;
  margin: 0 auto;
  display: block;
  background-color: $wickedWhite;
  color: $sandyBrown;
  padding: 4px;
  outline-color: $sandyBrown;

  &:active,
  &:hover {
    border: none;
  }

  &::placeholder {
    color: $wickedBlack;
    opacity: 0.2;
    text-align: center;
  }
}

.SearchWrapper {
  margin: 36px 0;
  padding-bottom: 24px;
  border-bottom: 1px solid $wickedWhite;
}

.Question {
  margin-bottom: 24px;
  border-bottom: 1px solid $wickedWhite;
}

.SearchTermNote {
  padding: 24px 0;

  p {
    margin-bottom: 0;
  }
}
